<?xml version="1.0" encoding="UTF-8"?>
<config>
	<node>SIC_1</node>
	<monitors>
		<monitor id="core" watcher="fs.sicarius.monitor.watchers.HTTPGetMonitor" disabled="true">
			<params>
				<path>http://${env.core.ip}/alps</path>
			</params>
			<expect>
				<status>200</status>
				<message>OK</message>
			</expect>
			<actions>
				<action actuator="fs.sicarius.monitor.actuators.LoggerAction">
					<message>Service [core] is not available</message>
				</action>
			</actions>
		</monitor>
		<monitor id="procesos" watcher="fs.sicarius.monitor.watchers.ProcessMonitor" disabled="true">
			<params>
				<process>demo.DemoApplication</process>
			</params>
			<expect>
				<processes>2</processes>
			</expect>
			<actions>
			<action actuator="fs.sicarius.monitor.actuators.ShellExecutorAction">
					<command>ping -c 1 localhost</command>
				</action>
				<action actuator="fs.sicarius.monitor.actuators.LoggerAction">
					<message>Service [procesos] is not available</message>
				</action>
			</actions>
		</monitor>
		<!-- updater -->
		<monitor id="disk" disabled="false" watcher="fs.sicarius.monitor.watchers.FileMonitor">
			<params>
				<path>/Users/tiocansino/Git</path>
				<filter>*caca.war</filter>
				<event>CREATE|MODIFY</event>
			</params>
			<actions>
				<action actuator="fs.sicarius.monitor.actuators.FileUploader">
					<server>localhost</server>
					<port>22</port>
					<username>tiocansino</username>
					<password>AngelFire</password>
					<from>/Users/tiocansino/Git/caca.war</from>
					<to>/Users/tiocansino/Git/caca_new.war</to>
					<clean>true</clean>
				</action>
				<action actuator="fs.sicarius.monitor.actuators.LoggerAction">
					<message>File changed</message>
				</action>
			</actions>
		</monitor>
	</monitors>
</config>